<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
</head>
<style>
    .reddish{
        background-color: #611919;
        border-radius: 2px;
        padding:1px;
        text-align: center;
        color: white;
    }
</style>
<body>
  <div>
      <div class="reddish">
          <h1>THIS IS HELLO PAGE</h1>
      </div>
      <div>
          OBJECTS
          <ul>
              <li>Hello</li>
          </ul>
      </div>
  </div>
</body>
</html>